<md-toolbar color="primary">

  <span class="fill-remaining-space">firebase cms</span>
  <nav>
    <a routerLink="">Home</a>
    <a routerLink="about">About</a>
  </nav>
  

<!--{{ loggedIn | json }}-->

<p *ngIf="loggedIn">Logged in as: {{ getEmail() | async }} </p>

<p *ngIf="error">{{message}}</p>

<form novalidate [formGroup]="user" (ngSubmit)="onSubmit(user)">
  <div *ngIf="!loggedIn">
    <input placeholder="name" formControlName="email" type="email">
    <input placeholder="password" formControlName="password" type="text">
  </div>

  <button md-button *ngIf="!loggedIn" type="submit">Login</button>
  <button md-button *ngIf="loggedIn" (click)="logout()">Logout</button>
</form>


</md-toolbar>
